@import ../fonts/fonts

*
    padding: 0
    margin: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: roboto, sans-serif

a
    text-decoration: none

select:focus,
button:focus,
input:focus
    outline: none

button
    cursor: pointer

main
    position: relative
    width: calc(100% - 25rem)
    padding: 2rem
    top: 6rem
    left: 25rem

.visible
    display: block !important

.row
    width: 100%
    display: flex

.row-justify
    justify-content: space-between

.content
    display: flex
    flex-direction: row
    align-content: stretch
    min-height: calc(100vh - 6.2rem)

.container
    width: calc(100% - 4rem)
    max-width: 120rem
    margin: auto

.flex-row
    display: flex
    flex-direction: row
    flex-wrap: wrap

.modal-bg
    z-index: 4
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #000000
    opacity: 0.5
    display: none