.orders-table
    margin-top: 2rem
    width: 100%
    border-collapse: collapse
    thead
        border-bottom: 1px solid $primary-color
    th
        font-size: 2rem
        color: $primary-color
        text-align: left
        padding: 1rem 0.5rem
    td
        font-size: 1.6rem
        color: $letter
        padding: 1rem 0.5rem
        border-bottom: 1px solid $letter-light
    tbody tr:hover
        background-color: #eee

.order-select-container
    display: flex

.order-select-box
    width: 15rem
    margin-right: 2rem

.order-select
    width: 100%
    border: none
    border-bottom: 1px solid $primary-color
    padding: 0.5rem 0
    font-size: 1.6rem
    color: $letter

.btn-add-order
    background-color: $primary-color
    border: none
    color: #fff
    font-size: 1.6rem
    padding: 0 1rem