<main>
    <div class="row row-justify">
        <div class="order-select-container">
            <div class="order-select-box">
                <label class="label-order-select">Cliente</label>
                <select class="order-select">
                    <option>Todos</option>
                    <option>Ponto Frio</option>
                    <option>Walmart</option>
                    <option>Americanas</option>
                </select>
            </div>
            <div class="order-select-box">
                <label class="label-order-select">Armazém</label>
                <select class="order-select">
                    <option>Todos</option>
                    <option>sp-facility-1</option>
                    <option>sp-facility-2</option>
                    <option>rj-facility-1</option>
                </select>
            </div>
        </div>
        <button class="btn-open-modal">Adicionar ordem</button>
    </div>
    <table class="table">
        <thead>
            <th>Cliente</th>
            <th>Armazém</th>
            <th>Produto</th>
            <th></th>
        </thead>
        <tbody id="order-table-body"></tbody>
    </table>
</main>
<div class="modal-bg"></div>
<div class="add-order-modal">
    <div class="row">
        <button class="btn-close-modal">X</button>
    </div>
    <form>
        <div class="data-form">
            <label>Cliente:</label>
            <select name="client">
                <option>Walmart</option>
                <option>Americanas</option>
                <option>Casas Bahia</option>
            </select>
        </div>
        <div class="data-form">
            <label>Armazém:</label>
            <select name="storage">
                <option>sp-facility-1</option>
                <option>mg-facility-1</option>
                <option>mg-facility-2</option>
            </select>
        </div>
        <div class="data-form">
            <label>Produto:</label>
            <input type="text" name="product">
        </div>
        <button class="btn-add-order">Adicionar ordem</button>
    </form>
</div>