<main>
    <table>
        <thead>
            <th>Cliente</th>
            <th>Armazém</th>
            <th>Produto</th>
        </thead>
        <tbody id="order-table-body"></tbody>
    </table>
</main>