<main>
    <div class="row row-justify">
        <div class="order-select-container">
            <div class="order-select-box">
                <label class="label-order-select">Cliente</label>
                <select class="order-select client-select">
                    <option value="all">Todos</option>
                </select>
            </div>
            <div class="order-select-box">
                <label class="label-order-select">Armazém</label>
                <select class="order-select facility-select" disabled="disabled">
                    <option value="all">Todos</option>
                </select>
            </div>
        </div>
        <button class="btn-open-modal" title="Adicionar ordem">Adicionar ordem</button>
    </div>
    <table class="table">
        <thead>
            <th>Cliente</th>
            <th>Armazém</th>
            <th>Produto</th>
            <th></th>
        </thead>
        <tbody id="order-table-body"></tbody>
    </table>
</main>
<div class="modal-bg"></div>
<div class="add-order-modal">
    <div class="row">
        <button class="btn-close-modal">X</button>
    </div>
    <form name="newOrderForm" method="POST" action="http://localhost:3000/api/order">
        <div class="data-form">
            <label>Cliente:</label>
            <select name="client">
            </select>
        </div>
        <div class="data-form">
            <label>Armazém:</label>
            <select name="storage">
            </select>
        </div>
        <div class="data-form">
            <label>Produto:</label>
            <input type="text" name="product">
        </div>
        <button class="btn-add-order" title="Adicionar ordem">Adicionar ordem</button>
    </form>
    <span class="form-message"></span>
</div>