<div class="menu-container">
    <nav class="menu-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/ordem">Ordens</a></li>
            <li><a href="/armazem">Armazéns</a></li>
        </ul>
    </nav>
</div>